*{
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar{
    display: none;
}
nav{
    background-color: rgb(7, 5, 45);
    height: 12vh;
    width: 100%;
    position: fixed;
    z-index: 9999;
}
nav .nav-items{
    height: 100%;
    width: 96%;
    margin: auto;
    display: flex;
}
nav .nav-items .logo{
    height: 100%;
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .nav-items .nav-links{
    height: 100%;
    width: 88%;
    display: flex;
    align-items: center;
    justify-content: right;
}
nav .nav-items .logo img{
    height: 70%;
}
nav .nav-items .nav-links li{
    list-style: none;
    display: inline;
    padding-left: 35px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}
nav .nav-items .nav-links a{
    text-decoration: none;
    color: white;
}
.login {
    background-color: rgb(123, 10, 10);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 35px;
    margin-left: 35px;
    border-radius: 20px;
}
.offers{
    animation: blink 1s infinite;

}
@keyframes blink{
    0%{
        color: white;
    }
    25%{
        color: red;
    }
    50%{
        color: deeppink;
    }
    75%{
        color: yellow;
    }
    100%{
        color: orange;
    }
}
.nav-space{
    height: 15vh;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}
h1{
    font-family: sans-serif;
}
.box{
    border: 1px solid black;
    border-radius: 22px;
    margin: 14px;
    width: 370px;
    height: 40px;
   margin:0px 11px 11px 0px;
  /*  box-sizing: border-box;
  /*  padding-left: 85px;*/
    display: flex;
    align-items: center;
}

.container img{
    padding-left: 67px;

}
 #google{
    text-decoration: none;
    color: black;
    margin-left: 6px;
    
    
 }
 
 #facebook{
    text-decoration: none;
    color: black;
    margin-left: 10px;
 }
.line{
    border: 1px solid black;

    width: 40%;
}
.lin{
    font-weight: bolder;
}
.l{
    border: 1px solid black;
    display: flex;
    width: 50%;
}
.virticalline{
    display: flex;
    align-items: center;
}
input{
    width: 370px;
    height: 40px;
    border-radius: 22px;
    text-align: center;

}
input[type=checkbox]{
    height: 30px;
    width: 25px;
    margin-top: 4%;
}
.con{
    border: 2px solid rgb(215, 29, 184);
    width: 370px;
    height: 47px;
    background-color: rgb(225, 39, 179);
    text-align: center;
    box-sizing: border-box;
    border-radius: 23px;
}



#firm{
    text-decoration: none;
    color: azure;   
    font-size: xx-large;
}
#tc{
    text-decoration: none;
    color: rgb(225, 60, 217);
}
#last{
    text-decoration: none;
    color: rgb(236, 51, 209);
}
#google:hover{
    color: rgb(228, 43, 185);
}
#facebook:hover{
    color: rgb(222, 69, 206);
}
#firm:hover{
    color: black;
}
#last:hover{
    color: black;
}

/*Footer css*/

.footer{
    height: fit-content;
    width: 100%;
    background-color: rgb(6, 6, 43);
}
.footer .footer-header{
    height: 50px;
    width: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.footer-header h2{
    font-family: inter;
    opacity: 0.7;
    font-size: 15px;
}
.footer .theater-icons{
    height: 80px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.footer .theater-icons .icons{
    height: 100%;
}
.footer .theater-icons img{
    height: 80%;
    opacity: 0.5;
}
.footer .more{
    height: fit-content;
    width: fit-content;
    margin: auto;
    color: white;
}
.footer .payments{
    height: 15vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}
.payment{
    height: 30%;
    width: fit-content;
    display: grid;
    place-content: center;
    color: white;
    
}
.payment-icons{
    height: 50%;
    width: fit-content;
}
.payment-icons img{
    height: 70%;
    
}
.copyright{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 30px;
    width: 100%;


}
